services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    env_file:
      - ./.env
    image: surf-backend
    extra_hosts:
      - "host.docker.internal:164.90.145.115"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    image: surf-frontend
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend